* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: fit-content;
}

footer {
    padding: 5px 0;
    text-align: center;
    font-size: 0.75rem;
}


/* header グループ */

header {
    display: flex;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    padding: 0 50px;
}

.site-title {
    width: 120px;
    margin: auto 0;
    padding: 10px 0;
}

.site-title img {
    width: 100%;
}

header nav {
    display: block;
    align-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
}


/* main グループ */

main {
    width: 100%;
    height: fit-content;
}

    /* main-visual グループ */

#main-visual {
    width: 100%;
    height: 600px;
    margin-bottom: 80px;
}

#main-visual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

    /* sectionタグ グループ */

.wrapper {
    position: relative;
    max-width: 960px;
    text-align: center;
    margin: 0 auto 100px;
}

.section-title {
    display: inline-block;
    font-size: 2rem;
    width: fit-content;
    margin-bottom: 60px;
    border-bottom: 1px solid #000;
}

.content {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-title {
    font-size: 1rem;
    margin: 10px 0;
}

        /* about セクション */

#about img {
    width: 100px;
    margin-right: 50px;
    border-radius: 50%;
}

.text {
    text-align: left;
    max-width: 450px;
    text-wrap: wrap;
}

        /* bicycle セクション */

#bicycle ul {
    display: flex;
    justify-content: space-between;
    list-style-type: disc;  /* 狭めたときに縦並びになる */
}

#bicycle li {
    width: 30%; /* px指定よりもフレキシブル */
    list-style: none;
}

#bicycle img {
    width: 100%;
    object-fit: cover;
}

#bicycle p {
    display: block;
    text-wrap: wrap;
}


/* 以下は課題範囲外の実装 */

/* トグルバー */

.toggle-container {
    display: block;
    position: absolute;
    top: 15px;
    right: 50px;
    width: 50px;
    height: 50px;
}

.toggle-label {
    width: 50px;
    height: 25px;
    margin: 0 auto;
    border-radius: 12.5px;
    border: 3px outset #ccc;
    background: radial-gradient(#444, #777);
}

.toggle-input {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px outset #ffcccc;
    background: radial-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.1));
    transition: 1s;
}

.toggle-input.active {
    position: absolute;
    border: 2px outset #ccffcc;
    background: radial-gradient(rgba(0, 255, 0, 1), rgba(0, 255, 0, 0.1));
    transform: translateX(-100%) translateX(-5px);
    transition: 1s;
}

.toggle-info {
    display: flex;
    height: fit-content;
    text-align: center;
    justify-content: center;
}

.info-icon {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-text {
    text-wrap: nowrap;
    font-size: 0.8em;
}


/* ダイアログ */

#dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    border: grey outset 2px;
}

.dialog-main {
    height: auto;
    height: 125px;
    overflow-y: scroll;
}

dialog text {
    font-size: 1.5rem;
}

#dialog-submit {
    position: fixed;
    bottom: 5px;
}
