* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: fit-content;
}


/* header グループ */

header {
    display: flex;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    padding: 0 50px;
}

.site-title {
    width: 120px;
    margin: auto 0;
    padding: 10px 0;
}

.site-title img {
    width: 100%;
}


header nav {
    display: block;
    height: fit-content;
    margin: auto 0 auto auto;
}

nav ul {
    display: flex;
    column-gap: 30px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
}


/* main グループ */

main {
    width: 100%;
    height: fit-content;
}

    /* main-visual グループ */

#main-visual {
    width: 100%;
    height: 600px;
    margin-bottom: 80px;
}

#main-visual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

    /* sectionタグ グループ */

.wrapper {
    position: relative;
    max-width: 960px;
    text-align: center;
    margin: 0 auto 100px;
}

.section-title {
    display: inline-block;
    font-size: 2rem;
    width: fit-content;
    margin-bottom: 60px;
    border-bottom: 1px solid #000;
}

.content {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-title {
    font-size: 1rem;
    margin: 10px 0;
}

        /* about セクション */

#about img {
    width: 100px;
    margin-right: 50px;
    border-radius: 50%;
}

.text {
    text-align: left;
    max-width: 450px;
    text-wrap: wrap;
}

        /* bicycle セクション */

#bicycle ul {
    display: flex;
    column-gap: 15px;
}

#bicycle li {
    width: 280px;
    list-style: none;
}

#bicycle img {
    width: 100%;
    object-fit: cover;
}

#bicycle p {
    width: 280px;
    max-height: 200px;
    text-wrap: wrap;
}
